 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I began working in IT as a server technician at the University of Tennessee, but from the beginning I was developing. I began working on Web Dev projects starting with Sharepoint integration and Power Apps. Having success there I moved in to learning Django and REST and started creating entire websites and corporate apps at the University of Tennesse.</p>
                </div>
                <div class="col-lg-4">
                    <p>After moving positions to Knoxville Utilities Board I began working in the Windows environment more regularly. I began developing in Power Apps again building backends and data management. Moving on with projects I began scripting heavily in Python, Ruby, and Powershell. I focused my design in assisting System Administrators and other technicians increase their productivity. </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/Natetedmonds" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Visit my GitHub!
                    </a>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://bandedfurret.itch.io/mininghell" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Check out my latest Game Jam!
                    </a>
                </div>
            </div>
        </div>
    </section>
